<% mark_class = local_assigns.fetch(:class_name, "h-10 w-10") %>

<span class="<%= mark_class %> block shrink-0 overflow-hidden rounded-md shadow-sm shadow-black/10 ring-1 ring-white/25" aria-hidden="true">
  <%= image_tag "favicon.svg", alt: "", class: "h-full w-full" %>
</span>
